{% extends 'base.html.twig' %}

{% block title %}(LMC)Le Mauvais Coin {{ controller_name }}!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="">Hello! ✅</h1>
            This friendly message is coming from : Le Mauvais Coin
        </div>
    </div>
</div>
{% endblock %}
