$backgroundBody: #efeeee;
$backgroundContainer: #FFF;
$site: #99C67F;
body {
  background-color: $backgroundBody;
  font-family: Roboto;
  font-size: 1em;

  .container {
    background-color: $backgroundContainer;
    margin-top: 3em;
    margin-bottom: 5em;
    min-width: 87vw;
    min-height: 40vw;
    padding-top: 4em;
    padding-bottom: 5em;
  }

  .alert-dismissible .close {
    top: -8px;
  }

}
.logo {

  height: 70px;
}
.navbar {
  background-color: whitesmoke ;
}
.login a{
  display: inline;
  float: right;
  padding: 2px;
}
.ana .form-group{
  margin-right: 8px;
}
#annonce_specifications_0{
  margin-left: inherit;
}

.annonce {

  border: #0b2e13;
  border-style: solid;
  height: max-content;
}
.annonce img {
  height: 70%;
  max-width: fit-content;
}
.price{
  color: #fd7e14;
  border-style: inherit;

}
@import "~bootstrap/scss/bootstrap";