{% extends "layout.html.twig" %}
{% block title %}Le Mauvais Coin {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="">Le Mauvais Coin</h1>
                Bienvenue User
            </div>
        </div>
    </div>
{% endblock %}
