{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center">
            <a class="navbar-brand d-flex w-50 mr-auto" href=
            {% if app.user.hasRole('ROLE_ADMIN') %}"{{ path('Admin') }}"{% endif %}
            {% if app.user.hasRole('ROLE_USER') %}"{{ path('index') }}"{% endif %}
            <div class="text d-none d-lg-block">LE MAUVAIS COIN</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show text-center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
